.header {
    width: 60vw;
    margin: 10rem auto 0 auto;
    font-family: 'Montserrat', sans-serif;
}

.title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    text-align: center;
}

.title h1 {
    font-size: var(--main-heading-font-size);
    background: var(--main-heading-background);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.title p {
    font-size: 1.5rem;
}

.journals {
    margin-top: 5rem;
}

.journals h2 {
    font-size: 2rem;
    background: linear-gradient(90deg, #ffd43b, #fd7e14);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.featured-list {
    height: 25rem;
    margin-top: 1.5rem;
}

.main {
    font-family: 'Montserrat', sans-serif;
    width: 80vw;
    margin: 5rem auto 5rem auto;
}

.main h2 {
    font-size: 2rem;
    background: linear-gradient(90deg, #ffd43b, #fd7e14);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 1.5rem;
}