@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;600;700&family=Montserrat:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Quicksand', sans-serif;
}

body {
  background: radial-gradient(#282c34, #282c34);
}

.not-found,
.error {
  width: 100vw;
  height: 50vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.not-found h1,
.error h1 {
  font-size: 5rem;
  color: #262626;
  text-transform: uppercase;
  background: linear-gradient(90deg, #ffd43b, #fd7e14);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.not-found p,
.error p {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  color: #ced4da;
}
