.header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.5rem;
    margin-top: 5rem;
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
}

.title {
    font-size: 1rem;
}

.title span {
    font-size: 1.5rem;
}

.description {
    font-size: 1.5rem;
}

.featured-journals {
    height: 20rem;
    width: 100%
}