.image-link {
    display: block;
}

.image {
    position: relative;
    margin: 1rem auto;
    height: 30rem;
    max-width: 100%;
}

.image img {
    object-fit: contain;
}

@media only screen and (max-width: 900px) {
    .image {
        height: 10rem;
    }
}