.footer {
    background: linear-gradient(to left, #862e9c, #5f3dc4);
    padding: 0.5rem;
    font-family: 'Montserrat', sans-serif;
}

.content {
    width: 70vw;
    margin: 2rem auto;

    p {
        text-align: center;
        font-size: 0.9rem;
    }
}