.action-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    position: absolute;

    width: 5%;
    height: 100%;

    z-index: 10;

    background-color: rgba(206, 212, 218, 0.2);
    border: none;

    &:hover {
        background: radial-gradient(#f8f9fa, #adb5bd);
        opacity: 0.9;
    }

    svg {
        z-index: 20;
        width: 60%;
        height: auto;
        fill: #495057;
        opacity: 0.5;
    }

    &:hover svg {
        fill: #495057;
        opacity: 1;
        cursor: pointer;
    }

    &:hover svg:hover {
        fill: #000000;
    }

    &:hover svg:active {
        fill: #339af0;
    }
}