.carousel {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 0.5rem;
    border-radius: 4px;
}

.image {
    /* just take 100% of outer parent*/
    height: 100%;
    width: 100%;
    position: relative;
    overflow: hidden;
    border-radius: 4px;

    img {
        object-fit: cover;
    }
}